<div class="keys">
<div class="keys1">
	<div class="key1">
		<div class="key2">Esc</div>
		<div class="key2" style="margin-left: 60px;">F1</div>
		<div class="key2">F2</div>
		<div class="key2">F3</div>
		<div class="key2">F4</div>
		<div class="key2" style="margin-left: 30px;">F5</div>
		<div class="key2">F6</div>
		<div class="key2">F7</div>
		<div class="key2">F8</div>
		<div class="key2" style="margin-left: 30px;">F9</div>
		<div class="key2">F10</div>
		<div class="key2">F11</div>
		<div class="key2">F12</div>
		<div class="key2" style="margin-left: 30px;">PS</div>
		<div class="key4" id="kb145">7··</div>
		<div class="key4" id="kb19">7·</div>
	</div>
	<div class="key1" style="margin-top: 16px;">
		<div class="key2">~</div>
		<div class="key3" id="kb49">1·</div>
		<div class="key3" id="kb50">2·</div>
		<div class="key3" id="kb51">3·</div>
		<div class="key3" id="kb52">4·</div>
		<div class="key3" id="kb53">5·</div>
		<div class="key3" id="kb54">6·</div>
		<div class="key3" id="kb55">7·</div>
		<div class="key3" id="kb56">1··</div>
		<div class="key3" id="kb57">2··</div>
		<div class="key3" id="kb48">3··</div>
		<div class="key3" id="kb189">4··</div>
		<div class="key3" id="kb187">5··</div>
		<div class="key2" style="width: 97px;margin-left: 3px;">Backspace</div>
		<div class="key4" style="margin-left: 30px;" id="kb45">4··</div>
		<div class="key4" id="kb36">5··</div>
		<div class="key4" id="kb33">6··</div>
		<div class="key2" style="margin-left: 30px;">Num</div>
		<div class="key4" id="kb111">4·</div>
		<div class="key4" id="kb106">5·</div>
	</div>
	<div class="key1" style="margin-top: 8px;">
		<div class="key2" style="width: 75px;">Tab</div>
		<div class="key3" id="kb81">1</div>
		<div class="key3" id="kb87">2</div>
		<div class="key3" id="kb69">3</div>
		<div class="key3" id="kb82">4</div>
		<div class="key3" id="kb84">5</div>
		<div class="key3" id="kb89">6</div>
		<div class="key3" id="kb85">7</div>
		<div class="key3" id="kb73">1·</div>
		<div class="key3" id="kb79">2·</div>
		<div class="key3" id="kb80">3·</div>
		<div class="key3" id="kb219">4·</div>
		<div class="key3" id="kb221">5·</div>
		<div class="key3" style="width:72px;margin-left: 3px;" id="kb220">6·</div>
		<div class="key4" style="margin-left: 30px;" id="kb46">1··</div>
		<div class="key4" id="kb35">2··</div>
		<div class="key4" id="kb34">3··</div>
		<div class="key4" style="margin-left: 30px;" id="kb103">7</div>
		<div class="key4" id="kb104">1·</div>
		<div class="key4" id="kb105">2·</div>
	</div>
	<div class="key1" style="margin-top: 8px;">
		<div class="key2" style="width: 96px;">Caps</div>
		<div class="key3" id="kb65">·1</div>
		<div class="key3" id="kb83">·2</div>
		<div class="key3" id="kb68">·3</div>
		<div class="key3" id="kb70">·4</div>
		<div class="key3" id="kb71">·5</div>
		<div class="key3" id="kb72">·6</div>
		<div class="key3" id="kb74">·7</div>
		<div class="key3" id="kb75">1</div>
		<div class="key3" id="kb76">2</div>
		<div class="key3" id="kb186">3</div>
		<div class="key3" id="kb222">4</div>
		<div class="key2" style="width:106px;margin-left: 3px;">Enter</div>
		<div class="key4" style="margin-left: 221px;" id="kb100">4</div>
		<div class="key4" id="kb101">5</div>
		<div class="key4" id="kb102">6</div>
	</div>
	<div class="key1" style="margin-top: 8px;">
		<div class="key2" style="width: 126px;">Shift</div>
		<div class="key3" id="kb90">··1</div>
		<div class="key3" id="kb88">··2</div>
		<div class="key3" id="kb67">··3</div>
		<div class="key3" id="kb86">··4</div>
		<div class="key3" id="kb66">··5</div>
		<div class="key3" id="kb78">··6</div>
		<div class="key3" id="kb77">··7</div>
		<div class="key3" id="kb188">·1</div>
		<div class="key3" id="kb190">·2</div>
		<div class="key3" id="kb191">·3</div>
		<div class="key2" style="width:131px;margin-left: 3px;">Shift</div>
		<div class="key4" style="margin-left: 85px;" id="kb38">·4</div>
		<div class="key4" style="margin-left: 84px;" id="kb97">1</div>
		<div class="key4" id="kb98">2</div>
		<div class="key4" id="kb99">3</div>
	</div>
	<div class="key1" style="margin-top: 8px;">
		<div class="key2" style="width: 72px;">Ctrl</div>
		<div class="key2">Win</div>
		<div class="key2">Alt</div>
		<div class="key2" style="width: 440px;">Space</div>
		<div class="key2">Alt</div>
		<div class="key2">APP</div>
		<div class="key2" style="width:76px;margin-left: 3px;">Ctrl</div>
		<div class="key4" style="margin-left: 30px;" id="kb37">·1</div>
		<div class="key4" id="kb40">·2</div>
		<div class="key4" id="kb39">·3</div>
		<div class="key4" style="margin-left: 30px; width: 105px;" id="kb96">·5</div>
		<div class="key4" id="kb110">·6</div>
	</div>
</div>
<div class="keys2">
	<div class="key4" style="margin-left: 0;margin-top: 66px;float: none;" id="kb109">6·</div>
	<div class="key4" style="height: 108px;line-height: 108px; margin-left: 0;margin-top: 6px; float: none;" id="kb107">3·</div>
	<div class="key4" style="height: 108px;line-height: 108px; margin-left: 0;margin-top: 6px; float: none;" id="kb13">·7</div>
</div>
</div>
