<div class="piano">
			<div class="key">
				<div class="whitekey" id="key1"></div>
					<div class="blackkey" id="key2"></div>
				<div class="whitekey" id="key3"></div>
				<div class="whitekey" id="key4"></div>
					<div class="blackkey" id="key5"></div>
				<div class="whitekey" id="key6"></div>
					<div class="blackkey" id="key7"></div>
				<div class="whitekey" id="key8"></div>
				<div class="whitekey" id="key9"></div>
					<div class="blackkey" id="key10"></div>
				<div class="whitekey" id="key11"></div>
					<div class="blackkey" id="key12"></div>
				<div class="whitekey" id="key13"></div>
					<div class="blackkey" id="key14"></div>
				<div class="whitekey" id="key15"></div>
				<div class="whitekey" id="key16"></div>
					<div class="blackkey" id="key17"></div>
				<div class="whitekey" id="key18"></div>
					<div class="blackkey" id="key19"></div>
				<div class="whitekey" id="key20"></div>
				<div class="whitekey" id="key21"></div>
					<div class="blackkey" id="key22"></div>
				<div class="whitekey" id="key23"></div>
					<div class="blackkey" id="key24"></div>
				<div class="whitekey" id="key25"></div>
					<div class="blackkey" id="key26"></div>
				<div class="whitekey" id="key27"></div>
				<div class="whitekey" id="key28"></div>
					<div class="blackkey" id="key29"></div>
				<div class="whitekey" id="key30"></div>
					<div class="blackkey" id="key31"></div>
				<div class="whitekey" id="key32"></div>
				<div class="whitekey" id="key33"></div>
					<div class="blackkey" id="key34"></div>
				<div class="whitekey" id="key35"></div>
					<div class="blackkey" id="key36"></div>
				<div class="whitekey" id="key37"></div>
					<div class="blackkey" id="key38"></div>
				<div class="whitekey" id="key39"></div>
				<div class="whitekey" id="key40"></div>
					<div class="blackkey" id="key41"></div>
				<div class="whitekey" id="key42"></div>
					<div class="blackkey" id="key43"></div>
				<div class="whitekey" id="key44"></div>
				<div class="whitekey" id="key45"></div>
					<div class="blackkey" id="key46"></div>
				<div class="whitekey" id="key47"></div>
					<div class="blackkey" id="key48"></div>
				<div class="whitekey" id="key49"></div>
					<div class="blackkey" id="key50"></div>
				<div class="whitekey" id="key51"></div>
				<div class="whitekey" id="key52"></div>
					<div class="blackkey" id="key53"></div>
				<div class="whitekey" id="key54"></div>
					<div class="blackkey" id="key55"></div>
				<div class="whitekey" id="key56"></div>
				<div class="whitekey" id="key57"></div>
					<div class="blackkey" id="key58"></div>
				<div class="whitekey" id="key59"></div>
					<div class="blackkey" id="key60"></div>
				<div class="whitekey" id="key61"></div>
					<div class="blackkey" id="key62"></div>
				<div class="whitekey" id="key63"></div>
				<div class="whitekey" id="key64"></div>
					<div class="blackkey" id="key65"></div>
				<div class="whitekey" id="key66"></div>
					<div class="blackkey" id="key67"></div>
				<div class="whitekey" id="key68"></div>
				<div class="whitekey" id="key69"></div>
					<div class="blackkey" id="key70"></div>
				<div class="whitekey" id="key71"></div>
					<div class="blackkey" id="key72"></div>
				<div class="whitekey" id="key73"></div>
					<div class="blackkey" id="key74"></div>
				<div class="whitekey" id="key75"></div>
				<div class="whitekey" id="key76"></div>
					<div class="blackkey" id="key77"></div>
				<div class="whitekey" id="key78"></div>
					<div class="blackkey" id="key79"></div>
				<div class="whitekey" id="key80"></div>
				<div class="whitekey" id="key81"></div>
					<div class="blackkey" id="key82"></div>
				<div class="whitekey" id="key83"></div>
					<div class="blackkey" id="key84"></div>
				<div class="whitekey" id="key85"></div>
					<div class="blackkey" id="key86"></div>
				<div class="whitekey" id="key87"></div>
				<div class="whitekey" id="key88"></div>
			</div>
		</div>