<include file="Index/header"/>
<body>
	<div class="main">
		<div class="admin_class">
			<div class="class_name">帖子管理 -></div>
			<div class="select">
				<form action="admin.php" method="get">
					<input type="hidden" name="c" value="news">
					<div class="search">
						<input type="text" name="title" id="select" placeholder="帖子搜索" value="{$title}">
						<button type="submit" id="wp-select"><img src="/WebPiano/Public/image/icon/search.png" width="20px"></button>
					</div>
				</form>
			</div>
		</div>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>标题</th>
						<th>发帖人</th>
						<th>回复数</th>
						<th>置顶</th>
						<th>加精</th>
						<th>状态</th>
						<th>发帖时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="news" id="new">
						<tr>
							<th>{$new.news_id}</th>
							<th>{$new.title}</th>
							<th>{$new.name}</th>
							<th>{$new.commentnum}</th>
							<th><span id="stick" attr-id="{$new.news_id}" attr-stick="{$new.stick}">{$new.stick|getstick}</span></th>
							<th><span id="fine" attr-id="{$new.news_id}" attr-fine="{$new.fine}">{$new.fine|getfine}</span></th>
							<th><span id="status" attr-id="{$new.news_id}" attr-status="{$new.status}">{$new.status|getstatus}</span></th>
							<th>{$new.create_time|date="Y-m-d H:i",###}</th>
							<th>
								<a href="index.php?c=news&a=info&id={$new.news_id}" target="_blank"><img src="/WebPiano/Public/image/icon/look.png" width="20px" id="look" attr-id="{$new.news_id}" title="查看"></a>
								<img src="/WebPiano/Public/image/icon/edit.png" width="20px" id="edit" attr-id="{$new.news_id}" title="编辑">
								<img src="/WebPiano/Public/image/icon/delete.png" width="20px" id="delete" attr-id="{$new.news_id}" title="删除">
							</th>
						</tr>
					</volist>
				</tbody>
			</table>
			<div class="green-black">{$pageRes}</div>
		</div>
	</div>
<script type="text/javascript" src="/WebPiano/Public/js/common.js?v=317"></script>
<script type="text/javascript">
	var SCOPE={
		'add_url':'admin.php?c=news&a=add',
		'status_url':'admin.php?c=news&a=changestatus',
		'stick_url':'admin.php?c=news&a=changestick',
		'fine_url':'admin.php?c=news&a=changefine',
		'delete_url':'admin.php?c=news&a=delete'
	}
</script>
</body>
</html>