<include file="Index/header"/>
<body>
	<canvas id="myCanvas" style="position: fixed;z-index: -1;"></canvas>
	<form class="adminform">
	<div>Admin Login</div>
	<input type="text" name="username" class="username" placeholder="username" value="admin"><br>
	<input type="password" name="password" class="password" placeholder="password" value="admin"><br>
	<input type="button" name="submit" class="submit" value="login">
	</form>
<script type="text/javascript" src="/WebPiano/Public/js/login.js?v=318"></script>
<script type="text/javascript" src="/WebPiano/Public/js/canvas.js"></script>
</body>
</html>