<include file="Index/header"/>
<body>
	<div class="main">
		<div class="admin_class">
			<div class="class_name">音乐管理 -></div>
			<div class="select">
				<form action="admin.php" method="get">
					<input type="hidden" name="c" value="music">
					<div class="search">
						<input type="text" name="title" id="select" placeholder="音乐搜索" value="{$name}">
						<button type="submit" id="wp-select"><img src="/WebPiano/Public/image/icon/search.png" width="20px"></button>
					</div>
				</form>
			</div>
		</div>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th width="50"><button type="button" id="listorder">排序</button></th>
						<th>ID</th>
						<th>歌名</th>
						<th>演奏人</th>
						<th>状态</th>
						<th>发布时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				<form id="form-listorder">
					<volist name="musics" id="music">
						<tr>
							<th><input type="text" name="listorder[{$music.music_id}]" value="{$music.listorder}" class="music_order"></th>
							<th>{$music.music_id}</th>
							<th>{$music.name}</th>
							<th>{$music.author}</th>
							<th><span id="status" attr-id="{$music.music_id}" attr-status="{$music.status}">{$music.status|getstatus}</span></th>
							<th>{$music.create_time|date="Y-m-d H:i",###}</th>
							<th>
								<img src="/WebPiano/Public/image/icon/edit.png" width="20px" id="edit" attr-id="{$music.music_id}" title="编辑">
								<img src="/WebPiano/Public/image/icon/delete.png" width="20px" id="delete" attr-id="{$music.music_id}" title="删除">
							</th>
						</tr>
					</volist>
				</form>
				</tbody>
			</table>
			<div class="green-black">{$pageRes}</div>
		</div>
	</div>
<script type="text/javascript" src="/WebPiano/Public/js/common.js?v=322"></script>
<script type="text/javascript">
	var SCOPE={
		'add_url':'admin.php?c=music&a=add',
		'status_url':'admin.php?c=music&a=changestatus',
		'delete_url':'admin.php?c=music&a=delete',
		'listorder_url':'admin.php?c=music&a=listorder',
		'jump_url':'admin.php?c=music'
	}
</script>
</body>
</html>