<include file="Index/header"/>
<body class="loginback">
	<form class="regform">
		<div>Register</div>
		<input type="text" name="username" class="username" placeholder="username"><br>
		<input type="password" name="password" class="password" placeholder="password"><br>
		<input type="password" name="password2" class="password" placeholder="confirm password"><br>
		<input type="button" name="submit" class="submit" value="Register">
	</form>
	<script type="text/javascript" src="/WebPiano/Public/js/login.js?v=318"></script>
</body>
</html>