<div class="news_right">
	<div class="music">			
		<div class="music-player" style="width: 80%; margin: 0 auto;">
		  <div class="info">
		    <div class="left"> <a href="javascript:;" class="icon-shuffle"></a> <a href="javascript:;" class="icon-heart"></a> </div>
		    <div class="center" style="">
		      <div class="jp-playlist">
		        <ul style="padding: 0;margin:0;">
		          <li></li>
		        </ul>
		      </div>
		    </div>
		    <div class="right"> <a href="javascript:;" class="icon-repeat"></a> <a href="javascript:;" class="icon-share"></a> </div>
		    <div class="progress jp-seek-bar"> <span class="jp-play-bar" style="width: 0%"></span> </div>
		  </div>
		  <div class="controls">
		    <div class="current jp-current-time">00:00</div>
		    <div class="play-controls"> 
		    	<a href="javascript:;" class="icon-previous jp-previous" title="previous" style="margin:20px;"></a> 
		        <a href="javascript:;" class="icon-play jp-play" title="play" style="margin:20px;"></a> 
		        <a href="javascript:;" class="icon-pause jp-pause" title="pause" style="margin:20px;"></a> 
		        <a href="javascript:;" class="icon-next jp-next" title="next" style="margin:20px;"></a> 
		     </div>
		    <div class="volume-level jp-volume-bar"> 
		    	<span class="jp-volume-bar-value" style="width: 0%"></span> 
		        	<a href="javascript:;" class="icon-volume-up jp-volume-max" title="max volume"></a> 
		            <a href="javascript:;" class="icon-volume-down jp-mute" title="mute"></a> 
		    </div>
		  </div>
		<div id="jquery_jplayer" class="jp-jplayer"></div>
		</div>
	</div>
	<script type="text/javascript" src="/WebPiano/Public/js/music/music.js?"></script>
	<script src="/WebPiano/Public/js/music/jquery.min.js"></script>
	<script src='/WebPiano/Public/js/music/jquery.jplayer.min.js'></script>
	<script src='/WebPiano/Public/js/music/jplayer.playlist.min.js'></script>
</div>